# Ignore tokens.txt file
tokens.txt

# Ignore Python files
*.pyc
__pycache__/

# Ignore Streamlit files
.streamlit/secrets.toml

# Ignore IDE files
.vscode/
.idea/

# Ignore OS files
.DS_Store
Thumbs.db

# Ignore log files
*.log
